$active: bold;
$active-border: 2px solid rgb(223, 218, 218);
$header-font-weight: bold;
$main-height:220px;
$padding: 100px;
$padding-header: 100px;
$padding-list: 20px;
$table-data-img_width: 70px;



